@model LibraryManagement.ViewModels.AuthorViewModel
<!-- Details.cshtml in LibraryManagement/Views/Author folder-->

<h1>Sample Author</h1>
<p>AuthorId: @Model.AuthorId</p>
<p>Author Name: @Model.Name</p>
