@model LibraryManagement.ViewModels.LibraryBranchViewModel
<!-- Details.cshtml in LibraryManagement/Views/LibraryBranch folder-->

<h1>Sample Branch</h1>
<p>BranchId: @Model.LibraryBranchId</p>
<p>Branch Name: @Model.BranchName</p>
