@model LibraryManagement.ViewModels.BookViewModel
<!-- Details.cshtml in LibraryManagement/Views/Book folder-->

<h1>@Model.Title</h1>
<p>BookId: @Model.BookId</p>
<p>Author: @Model.AuthorName</p>
<p>Branch: @Model.BranchName</p>
