@model LibraryManagement.ViewModels.CustomerViewModel
<!-- Details.cshtml in LibraryManagement/Views/Customer folder-->

<h1>Sample Customer</h1>
<p>CustomerId: @Model.CustomerId</p>
<p>Customer Name: @Model.Name</p>
